
@import './colors';
@import './fonts';
@import './layout';
@import './text';


* {
  position: relative;  
  box-sizing: border-box;
}

html {
  font-size: 1px;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14rem;
  font-family: @FontCode;
  background: rgb(@c-ice);
  color: rgb(@c-blue);
  margin: 0;
  padding: 0;
}
