

// Flex helpers

.flex {
    display: flex;
    &.column {
        flex-direction: column;
    }
    &.center {
      align-items: center;
      justify-content: center;
    }
}
  

// Full-window box

.fullscreen {
    position: fixed;
    inset: 0;
}